.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    padding: 15px;
    background-color: white;
}

.nav-links ul{
    display: flex;
    gap: 1rem;;
}

.active{
    text-decoration: underline;
    text-decoration-color: #90BC2D;
}

.nav-links ul a{
    text-decoration: none;
    color: black;
    font-size: large;
}


.nav-links ul a:hover{
    color: #90BC2D;
}

.nav-links ul li{
    list-style: none;
}

.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo img{
    width: 20%;
}

.logo a{
    color: #90BC2D;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: bold;
}

.icons i{
    margin-left: 15px;
}

.icons i:hover{
    color: #90BC2D;
    cursor: pointer;
}

#burger{
    display: none;
}


/* Navbar responsive */

@media only screen and (max-width:768px) {

    #burger{
      display: inline-block;
    }



    .nav-links{
        position: absolute;
        border-radius: 10px;
        left: 2.5%;
        top: 79px;
        background-color: rgb(236, 236, 236);
        width: 95%;
        height: calc(100vh - 111px);
        padding:  15px 0;
        transform: translateX(-200%);
    
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .nav-links.active{
        transform: translateX(0);
    }
   
  }